
.v-main{
  padding: 0 !important;
}
section{
  .content-text{
    margin-top: 250px;
    h1{
    }
  }
  .card-content{
    h1{
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .active-card{
      border: 3px solid #2DB785 !important;
    }
   .v-container .v-row .v-col{
     .v-card{
       p{
       }
     }
    }
  }
  .pricing-card-active{
    transition: 0.1s ease-in-out;
    background-color: #2E6568 !important;
    scale: 1.1;
    z-index: 1;
    h1{
      color: white !important;
    }
  }
}
@media only screen and (max-width: 600px) {
  .benefit-items{
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .content-text{
    margin-top: 0 !important;
    h1{
      font-size: 25px !important;
      margin-top: 10px !important;
    }
    p{
      font-size: 10px !important;
      margin: 0 !important;
    }

  }
}
